@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

html {
  font-size: 62.5%; // makes 1rem = 10px
  font-family: "Montserrat", sans-serif;
  color: var(--color-neutral-200);
}

body {
  @include flex-column-center;

  padding: 1.5rem;

  min-height: 100vh;
  font-size: 1.4rem;

  background-color: var(--color-primary-100);

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
